{% extends 'store/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

     <div class="row" >
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">

      	<form id="form" method="post">

          <div id="shipping-info">
          {% csrf_token %}

          <hr>
          <p><strong>Shipping Information:</strong></p>
          <hr>
          <div class="row">
            <div class="col-6">{{ form.address|as_crispy_field }}</div>
            <div class="col-6">{{ form.city|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col-6">{{ form.state|as_crispy_field }}</div>
            <div class="col-6">{{ form.zipcode|as_crispy_field }}</div>
          </div>
          </div>

					<hr>
          <button type="submit" class="btn btn-success btn-block">Confirm Shipping Destination</button>



				</form>

			</div>



			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|intcomma}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total|intcomma}}</h5>
			</div>
		</div>
	</div>


{% endblock content %}
